.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .search-bar-form {
    display: flex;
    width: 480px;
    height: 48px;
    background-color: #E2E2EA;
    border-radius: 5px;
    align-items: center;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
  }
  
  .search-input-with-icon {
    width: 100%;
    padding: 12px 12px 12px 40px; /* Left padding to make space for icon */
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px;
  }
  