.search-bar-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .search-bar-form {
    display: flex;
    width: 480px;
    height: 48px;
    background-color: #E2E2EA;
    border-radius: 5px;
    align-items: center;
  }
  
  .search-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #666;
    font-size: 18px;
  }
  
  .search-input-with-icon {
    width: 100%;
    padding: 24px 12px 12px 40px; 
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px;
  }
  
@media (max-width: 480px) {
  .search-bar-container {
    padding: 12px;
  }

  .search-bar-form {
    height: 34px;
    padding: 0 6px;
    max-width: 50%;
  }

  .search-icon {
    font-size: 16px;
    left: 10px;
  }

  .search-input-with-icon {
    font-size: 14px;
    padding: 10px 10px 10px 36px;
  }
}